/firebase.json
/android/app/google-services.json
.dart_tool/
.vscode/
build/
/lib/core/configs/algolia_configs.dart
.flutter-plugins-dependencies
.DS_Store
.flutter.plugins-dependencies
functions/
.firebaserc
.idea/
macos/Podfile.lock